/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  color: #b4aca8;
  font-size: 14px;
  background: #14100f;
  margin-bottom: -1px;
}
